.nav__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 22px;
    margin: 15px 0 15px 0;

    &-title {
        font-weight: 500;
        width: 120px;
        font-size: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 18px;
        display: block;
    }

    &-search {
        position: relative;
        width: 214px;

        input {
            padding: 0px 10px;
            height: 32px;
            border: 1px solid #a0a0a0;
            border-radius: 8px;
            outline: none;
            opacity: 0;
            visibility: hidden;
            width: 0%;
            overflow: hidden;
            transition: all .2s linear;
        }

        .mat-icon {
            position: absolute;
            right: -30px;
            top: 50%;
            z-index: 1;
            transform: translateY(-50%);
            color: #464444;
            cursor: pointer;
            transition: all .2s linear;
        }
    }

    span.nav__actions-cancel {
        display: none;
    }

    &.active {
        .nav__actions-title {
            display: none;
        }

        .nav__actions-search {
            input {
                opacity: 1;
                visibility: visible;
                width: 100%;
                background: transparent;
            }
        }

        .nav__actions-search {
            .mat-icon {
                right: 4px;
            }
        }

        span.nav__actions-cancel {
            display: block;
            color: red;
            cursor: pointer;
        }
    }
}