<div class="modal">
    <div class="modal-head">
        <div class="title">Task group - Lorem ipsum dolort cum at quas!</div>
        <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
    </div>
    
    <div class="modal-body">
        <input type="text" placeholder="Title task group ...">
        <div class="row">
            <div class="user">
                <button type="button" mat-button>Perform</button>
                <div class="icon"><mat-icon>person_search</mat-icon></div>
            </div>
    
            <div class="user">
                <button type="button" mat-button>Follow</button>
                <div class="icon"><mat-icon>person_search</mat-icon></div>
            </div>
        </div>
        <textarea  placeholder="Description ..." cols="30" rows="7"></textarea>
    </div>
    
    <div class="modal-footer">
        <button type="button" mat-button>Add New Task Group</button>
    </div>
</div>