
.home__bar {
    box-shadow: 1px 3px 10px rgb(164 197 226 / 20%);
    padding: 0 40px;
    margin: 0 39px;
    background-color: #fff;

    .bar-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0 5px 0;
        background: #fff;
    
        .nav {
            a {
                display: inline-block;
                padding: 5px 10px;
                color: #333;
                font-size: 16px;
                text-decoration: none;
                padding-bottom: 5px;
                border-bottom: 2px solid transparent;
                &.active, &:hover {
                    color: #3498db;
                    border-color: #3498db;
                }
            }
        }
    
        .infor {
            display: flex;
            align-items: center;
        
            .infor-team {
                display: flex;
                align-items: center;
        
                ul {
                    margin-left: 25px;
                    li {
                        display: inline-block;
            
                        img {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            margin-left: -14px;
                        }
                    }
                }
            }
        
            .infor-change-manager {
                margin-left: 20px;
            }
        }
    }

    .bar-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        
        ul {
            display: flex;
            align-items: center;

            li {
                display: flex;
                align-items: center;
                margin-right: 38px;
    
                .mat-form-field {
                    width: 50px;
                    margin-left: 6px;
                }
                
            }
        }
    
        button {
            background-color: #3c4ddb;
            color: #fff;

            ::ng-deep {
                span.mat-button-wrapper {
                    display: flex;
                    align-items: center;
                }

                .mat-icon {
                    margin-right: 2px;

                }
            }
        }
    }
}

.home__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    margin: 0 39px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    box-shadow: 1px 3px 10px rgb(164 197 226 / 20%);
    ul {
        display: flex;
        align-items: center;

        li {
            display: flex;
            align-items: center;
            margin-right: 38px;

            .mat-form-field {
                width: 50px;
                margin-left: 6px;
                font-weight: bold;
                
                ::ng-deep {
                    .mat-form-field-infix {
                        padding-bottom: 3px;
                    }

                    .mat-form-field-underline {
                        display: none;
                    }
                }
            }
            
        }
    }

    button {
        background-color: #3c4ddb;
        color: #fff;

        ::ng-deep {
            span.mat-button-wrapper {
                display: flex;
                align-items: center;
            }

            .mat-icon {
                margin-right: 2px;
            }
        }
    }
}



.tasks {
    padding: 25px 40px;
    display: flex;
    flex-wrap: wrap;
    .task {
        width: calc(33.333% - 20px);
        box-shadow: 1px 3px 10px rgba(164, 197, 226, 0.2);
        background: #fff;
        border-radius: 2px;
        padding: 20px;
        position: relative;
        margin: 10px;
        cursor: pointer;
        transition: all .2s linear;

        &:hover {
            transform: scale(1.03);
        }

        &-status {
            font-size: 12px;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 5px;
        }

        &-title {
            width: 90%;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 0;
            color: #252732;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 22px;
            font-family: 'Montserrat', sans-serif!important;
        }

        &-infor {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 6px 0 12px 0;
        
            .left {
                display: flex;
                align-items: center;
        
                span {
                    display: flex;
                    margin-right: 15px;
                    // color: #4a6a86;
                    align-items: center;
        
                    .mat-icon {
                        font-size: 17px;
                        width: 17px;
                        height: 17px;
                        margin-right: 4px;
                    }
                }        
            }
        
            .right li {
                display: inline-block;
                margin-left: -6px;
            
                img {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                }
            }
        }

        &-action {
            a {
                color: #3c4ddb;
                font-weight: bold;
                text-decoration: none;
                display: flex;
                align-items: center;
            }
        }

        &-process {
            position: absolute;
            right: 8px;
            top: 8px;
        }
    }
}
